<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | Test App</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render "layouts/admin/shim" %>
  </head>
  <body>
    <%= render "layouts/admin/header" %>
    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
      <%= render "layouts/admin/footer" %>
      <%= debug params if Rails.env.development? %>
    </div>
  </body>
</html>
