<tr>
  <td><%= category.id %></td>
  <td><%= link_to category.name, admins_category_path(category) %></td>
  <td><%= link_to shorten(category.description.to_s) , admins_category_path(category) %></td>
  <td>
    <%= link_to "Edit", admins_category_questions_path(category), 
    class:"btn btn-medium btn-success"  %>
    <%= link_to "Delete", admins_category_path(category), 
      data: {method: :delete, confirm: I18n.t("category.message.you_sure")},
      class:"btn btn-medium btn-danger" %>
  </td>
</tr>
