<div class=row>
  <div class="col-md-2"><%= link_to test.category.name, "#" %>
  </div>
  <div class="col-md-2"><%= link_to test.user.name, test.user %></div>
  <div class="col-md-2"><%= test.result %></div>
  <div class="col-md-2"><%= test.created_at %></div>
  <div class="col-md-2"><%= test.started_time %></div>
  <div class="col-md-2"><%= test.status %></div>
  <div class="col-md-2">
    <%= link_to "Delete", [:admin, test], method: :delete,
      data: {confirm: t("you_sure")} %>
  </div>
</div>
