<tr>
    <td> <%= link_to test.category.name, "#" %></td>
    <td> <%= link_to test.user.name, test.user %> </td>
    <td> <%= test.result %> </td>
    <td> <%= test.created_at %> </td>
    <td> <%= test.started_time %> </td>
    <td> <%= test.status %> </td>
    <td><%= link_to "Delete", [:admin, test], metdod: :delete,
      data: {confirm: t("you_sure")} %></td>
</tr>